/*trashtracker vy stylesheet*/
body{
    color: #000000;
    margin: auto;
    background-color: rgb(0, 0, 0);
}

nav{
    margin-bottom: 20px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.527) ;

}
.container{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.col{
    border-radius: 10px;
}

.col-sm{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.col-sm-8{
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

footer{

    padding: 10px;
    background-color:rgba(255, 255, 255, 0.527) ;
}

.resize1{
    width: ;
}

.img_center{
    text-align: center;
}


@media screen and (min-width: 500px) {
    .col-sm{
       width: 100%;
       height: auto; overflow: 
       hidden; // clearing 
    }
 }

 /*IMAGE SCALE*/
 @media screen and (min-width: 500px) and (max-width: 800px) {
    .resize1{
        width:80px;
    }
 }