/*MEDIA QUERIES*/
@media screen and (min-width: 500px) {
    .col-sm{
       width: 100%;
       height: auto; overflow: 
       hidden; // clearing 
    }
 }

 /*IMAGE SCALE*/
 @media screen and (min-width: 500px) and (max-width: 800px) {
    .resize1{
        width:80px;
    }
 }
