/*MEDIA QUERIES*/
@media screen and (min-width: 500px) and (max-width:950px) {
    .col-sm{
       width: 100%;
       height: auto; overflow: 
       hidden; // clearing 
    }
 }

 /*IMAGE SCALE*/
 @media screen and (min-width: 500px) and (max-width: 800px) {
    .resize1{
        width:80px;
    }
}

@media screen and (max-width: 1200px) {
    .oneLeft{
        width: auto;
        display: flex;
    }
    .onel, .twol, .threel{
        background-color: aqua;
        display: flex-grow;
        justify-content: flex-start;

    }
}
 

