/*trashtracker vy stylesheet*/
body{
    color: #000000;
    margin: auto;
    background-color: #818285;
}

nav{
    background-color:rgba(255, 255, 255, 0.527) ;
}

.container{
    background-color:#b4b4b4; 
    border-radius: 20px;
}

.oneLeft{
    width:auto; 
    height:auto;
    border-radius: 10px;
    background-color:#f7f7f7; 
}

.onel, .twol, .threel{
    margin: 10px; 
    padding: 15px;
    border-radius: 10px;
    background-color:#FFFFFF; 
    flex: 1;
}
    
.col{
    border-radius: 10px;
}

.col-sm, .col-sm-8, .col-sm-4, .col-sm-6{
    border-radius: 10px;
}

footer{
    background-color:rgba(255, 255, 255, 0.527) ;
}

.img_center{
    text-align: center;
}

.img {
    display: block;
    margin: auto;
    padding-top: 15px;
}

.alignright {
    float: right;
    text-align: right;
}

.aligncenter {
    float: center;
    text-align: center;
}


hr{
    border: none; 				/* Make line fill consistent */
    height: 5px; 				/* Set line thickness */
    width: 70%;
    background-color: #000000; 	/* Set fill color of line */
}
