/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
    .body{
        width: 90%;
        margin: auto;       
        height: auto; 
        overflow: hidden; // clearing 
     }
    .oneLeft{
        width: 80%; 
        height: auto; 
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: row wrap;
        justify-content: center;
    }
    .onel{
        padding: 20px;
        margin: 5px 18px 5px;
        /*display: flex-shrink;*/
        justify-content: flex-start;
    }
    .twol{
        margin: 5px 18px 5px;
        display: flex-shrink;
        justify-content: flex-start;
        padding-top: 50px;
    }
}

@media screen and (max-width: 570px) {
    .body{
        width: 90%;
        margin: auto;       
        height: auto; 
        overflow: hidden; // clearing 
     }

    .oneLeft{        
        width: 100%;
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .onel, .twol {
        padding: 10px;
        margin: 5px 18px 5px;
    }
}
 
 

/*https://medium.freecodecamp.org/even-more-about-how-flexbox-works-explained-in-big-colorful-animated-gifs-a5a74812b053*/